@tailwind base;
@tailwind components;
@tailwind utilities;

.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}

.react-grid-item.cssTransforms {
  transition-property: transform;
}

.react-grid-item.resizing {
  z-index: 100;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}